@layer reset, fonts, tokens, base, layout, components, utilities, responsive, states;

@import url('./reset.css') layer(reset);
@import url('./fonts.css') layer(fonts);
@import url('./tokens.css') layer(tokens);

@layer base {
  body {
    display: grid;
    font-family: var(--ff-base);
    font-size: var(--fs-base);
    background-color: var(--clr-bg-primary);

    >* {
      grid-area: 1/1;
    }
  }
}

@layer layout {}

@layer components {

  .hero {
    min-block-size: 100dvh;
    margin-inline: auto;
    padding: 2.25rem;
    display: flex;
    align-items: center;
    position: relative;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background-color: var(--clr-bg-primary);
      opacity: .8;
      pointer-events: none;
      z-index: -1;
    }
  }

  .hero__media {
    position: absolute;
    inset: 0;
    z-index: -2;

    img {
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
    }
  }

  .hero__content {
    --stack-gap: var(--space-700);

  }

  .hero__header {
    img {
      margin-inline: auto;
    }
  }

  .hero__body {
    --stack-gap: var(--space-500);
  }

  .hero__intro {
    --stack-gap: var(--space-200);

    font-weight: var(--fw-light);
    text-align: center;
    text-wrap: balance;

    h1 {
      font-size: var(--fs-xl);
      font-weight: var(--fw-light);
      text-transform: uppercase;
      color: var(--clr-txt-inverse);
      line-height: 1.2;

      span {
        color: var(--clr-txt-accent);
      }
    }

    p {
      font-size: var(--fs-lg);
      color: var(--clr-txt-secondary);
      line-height: 1.5;
    }
  }

  .signup-form {
    order: 3;
  }

  .signup-form__field {
    --radius: 3em;

    display: grid;
    gap: var(--space-100);
    font-size: var(--fs-xs);
    font-weight: var(--fw-bold);
    line-height: 2;

    input,
    button {
      padding-block: var(--space-100);
      border: 0.125rem solid var(--border-clr, transparent);
      border-radius: var(--radius);
    }

    input {
      padding-inline-start: var(--space-300);
      background-color: var(--clr-bg-input);
      color: var(--clr-txt-inverse);

      &::placeholder {
        color: color-mix(in srgb, currentColor 50%, transparent);
      }
    }

    button {
      background-color: var(--clr-bg-accent);
      color: var(--clr-txt-primary);
    }
  }

  .platforms {
    order: 2;
  }

  .attribution {
    align-self: end;
    padding-block-end: var(--space-200);
    text-align: center;
    font-size: var(--fs-sm);
    color: var(--clr-txt-inverse);
    z-index: 0;

    a {
      margin-inline: .3em;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        inset-inline-end: 0;
        inset-block-end: -0.125rem;
        inline-size: 100%;
        block-size: 0.125rem;
        background-color: currentColor;
        transform: scale(1);
        transform-origin: center;
        transition: transform var(--transition-fast);
        pointer-events: none;
      }
    }
  }
}

@layer utilities {
  .visually-hidden {
    position: absolute;
    inline-size: 0.0625rem;
    block-size: 0.0625rem;
    padding: 0;
    margin: -0.0625rem;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
  }

  .stack {
    display: flex;
    flex-direction: column;
    gap: var(--stack-gap, 1rem);
  }

  .cluster {
    display: flex;
    flex-direction: row;
    gap: var(--cluster-gap, 1rem);
    align-items: center;
  }
}

@layer responsive {}

@layer states {}